# CORS Options
Header set Access-Control-Allow-Origin "*"

php_flag display_errors on

# Apache Server config to allow the HTTP_AUTHORIZATION header 
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Error handling and logging
ErrorDocument 400 http://localhost/rest-todo/controller/error.php?error=400
ErrorDocument 401 http://localhost/rest-todo/controller/error.php?error=401
ErrorDocument 403 http://localhost/rest-todo/controller/error.php?error=403
ErrorDocument 404 http://localhost/rest-todo/controller/error.php?error=404
ErrorDocument 500 http://localhost/rest-todo/controller/error.php?error=500
ErrorDocument 503 http://localhost/rest-todo/controller/error.php?error=503

Options -Indexes

# Activate RewriteEngine
RewriteEngine On
RewriteCond %{REQUEST_FIlENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Authentification
RewriteRule ^sessions/([0-9]+)$                             controller/sessions.php?sessionid=$1 [L]
RewriteRule ^sessions$                                      controller/sessions.php [L]

# Tasks
RewriteRule ^tasks/([0-9]+)$                                controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$                                controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$                              controller/task.php?completed=N [L]
RewriteRule ^tasks/page/([0-9]+)$                           controller/task.php?page=$1 [L]
RewriteRule ^tasks$                                         controller/task.php [L]

# Images
RewriteRule ^tasks/([0-9]+)/images/([0-9]+)/attributes$     controller/images.php?taskid=$1&imageid=$2&attributes=true [L]
RewriteRule ^tasks/([0-9]+)/images/([0-9]+)$                controller/images.php?taskid=$1&imageid=$2 [L]
RewriteRule ^tasks/([0-9]+)/images$                         controller/images.php?taskid=$1 [L]

# Users
RewriteRule ^users$                                         controller/users.php [L]
